@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    /* 强制指定浅色模式下的默认值 */
    @apply bg-ios-bg text-ios-text antialiased;
  }

  /* 当 html 标签有 dark 类时，强制应用深色背景 */
  :root.dark body {
    @apply bg-ios-bg-dark text-ios-text-dark;
  }
}

/* 隐藏滚动条 */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}